
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;600&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*hacer que el width y el height de cada elemento CONTENGA el padding y el border*/
	font-family: 'Baloo Tamma 2', cursive;
}

.coverPage {
	width: 100vw;
	height: 100vh;
	padding-top: 20px;
	background-color: #4A1942;
	background-size: cover;
	position: absolute;
}
.coverPage img{
	position: absolute;
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	opacity: 25%;
	top:0;
  	left: 0;
}
.coverPage .cover {
	text-align: center;
}
.coverPage .cover .title {
	position: absolute;
	width: 50%;
  	top: 50%; right: 50%;
 	transform: translate(50%,-50%);
	letter-spacing: 2px;
	font-size: 40px;
	font-weight: 600;
	color: #fff;
}
.coverPage .cover .links {
	text-align: right;
	border: 1px solid black;
}
.coverPage .cover .links ul {
	
	list-style: none;
	text-decoration: none;
	position: relative;
	width: 100%;
	padding-right: 60px;
}
.coverPage .cover .links ul li {
	display: inline;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
.coverPage h2 {
	text-transform: uppercase;
	font-size: 36px;
	letter-spacing: 2px;
	font-weight: 700;
	padding: 10px;
	position: absolute;
	left: 18px;
	cursor: pointer;
	z-index: 2;
	color: #fff;
}